.formCot{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.formCot>button{
  margin: 20px;
}
/* Ocultar las flechas en input tipo number */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


